@import "src/styles/variables";

.representative-details {
  .rep-name-image{
    margin: 10px 0 25px 0;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
    h1{
      margin-left: 12px;
      margin-bottom: unset;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .rep-audit-status{
    padding: 16px 32px;
    box-shadow: 0 4px 24px #3E3F5E0F;
    border-radius: 10px;
    &.done {
      background: #396AFF1A 0 0 no-repeat padding-box;
      color: $primary-color;
    }
    &.pending{
      background: #F1A8001A 0 0 no-repeat padding-box;
      color: #F1A800;
    }
    .audit-header{
      margin-bottom: 5px;
    }
  }
}