@import "variables";

// Button
.ant-btn {
  border-color: $primary-color;
  border-radius: 6px;
  height: 36px;
  width: 100%;
  font-weight: bold;
}

.ant-btn.ant-btn-primary {
  background-color: $primary-color !important;

  &:disabled {
    background-color: rgba($color: $primary-color, $alpha: 0.7) !important;
    color: white;
  }
}

.ant-btn.ant-btn-default {
  border-color: $primary-color !important;
  color: $primary-color !important;

  &:disabled {
    opacity: .5;
  }
}

/* Input field */
.ant-input,
.ant-input-affix-wrapper {
  border-color: $input-bg !important;
  border-radius: 6px;
  height: 36px;
  text-indent: 10px;

  &::placeholder {
    color: $placeholder-color !important;
  }
}

.ant-input {
  padding: 10px 0;
}

// PREFIX INPUT
.ant-input-affix-wrapper {
  .ant-input {
    height: 100% !important;
  }
}

.input-field {
  margin-top: 6px;
}

.ant-input-password {
  border-color: $input-bg !important;
  border-radius: 6px;
  padding: 0px 11px !important;

  .ant-input {}
}

label {
  color: $label-color;
}

/* Tabs */

.ant-tabs.ant-tabs-top {
  .ant-tabs-nav {
    .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
      background-color: $label-color;
    }

    .ant-tabs-tab {
      .ant-tabs-tab-btn {
        color: $label-light-color;
      }

      &.ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: $label-color;
        }
      }
    }
  }
}

/* Select */

.ant-select {
  box-shadow: none !important;

  &:hover {
    box-shadow: none !important;
  }

  i {
    font-size: 10px !important;
  }

  .ant-select-selector {
    border-radius: 6px !important;
    box-shadow: none !important;

    &:hover {
      box-shadow: none !important;
    }
  }
}

/* Table */
.ant-table {
  border-radius: 10px 10px 0px 0px !important;
  overflow: hidden;

  .ant-table-container {
    .ant-table-thead>tr>th {
      background-color: $table-header-bg;
      color: $label-color;
      font-family: SFProDisplayBold !important;
    }
  }
}

/* Pagination */
.ant-pagination {
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-end;

  .ant-pagination-prev,
  .ant-pagination-next {
    .ant-pagination-item-link {
      border: none;
      outline: none;
      color: $label-color;
    }
  }

  .ant-pagination-item {
    border: none;
    outline: none;
    color: $label-color;

    &.ant-pagination-item-active {
      border: 1px solid $label-color;
      border-radius: 6px;

      a {
        color: $label-color;
      }
    }
  }
}

// POPOVER
.ant-popover-content {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 4px 24px #3e3f5e33;
  border-radius: 10px !important;
  overflow: hidden;

  .ant-popover-arrow {
    display: none;
  }
}

.ant-progress-text {
  color: #83b85c;
}

.ant-progress-bg {
  background-color: #83b85c;
}

// MODAL
.ant-modal {
  &-content {
    padding: 30px 15px;
    border-radius: 10px;

    .ant-modal-close {
      display: none;
    }
  }

  &-header {
    border: none;
    padding-bottom: 0;
    padding-top: 0;

    .ant-modal-title {
      .modal-title {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;

        h2 {
          font: normal normal bold 24px/29px SF Pro Display;
          color: $label-color;
        }
      }

      .modal-controls {
        i:first-child {
          padding-right: 15px;
        }
      }
    }
  }

  &-body {
    padding-bottom: 0px;
  }

  &-footer {
    display: none;
  }

  .icon {

    &-more,
    &-close {
      cursor: pointer;
    }
  }
}

.ant-menu-inline {
  border-right: unset !important;
}

.ant-picker {
  padding: 4px 11px 4px 0 !important;
}