
/* Color palette */
$primary-color: #396AFF;
$primary-font-color: #343C6A;
$secondary-color: #006FBA;
$primary-dark-color: #040930;
$primary-blur-color: #292D4E;
$light-white: #FFFFFF40;
$primary-light-color: #0D494E10;
$primary-black: #4B4B4B;
$dark-blue: #22509D;
$light-grey: #00000015;
$dark-grey: #8898AA;
$success-color: green;
$danger-color: #E55252;
$warning-color: #F3B21B;
$body-bg: #FCFDFF;
$table-header-bg: #E3E5F2;
$table-bg: #F7FAFC;
$input-bg: #D6D8E5;
$label-color: #343C6A;
$label-light-color: #7F91B0;
$placeholder-color: "#D6D8E5";
$red:#E55252;
$active-color: #83B85C;
$active-color-bg: #83B85C20;
$inactive-color-bg: #E5525220;
$planned-color: #F1A800;
$planned-color-bg: #F1A8002A;
$primary-color-bg: #396AFF2A;
$label-light-color-bg: #7F91B02A;


/* Shadows */
$primary-shadow: 0 8px 22px #0000001A;
$secondary-shadow: 0px 3px 6px #2C28281C;


/* Spacer variables */
$spacer-x : 1rem;
$spacer-y : 1rem;
