.loader__container {
    position: absolute;
    display: grid;
    place-items: center;
    transform: translate(-50%, -50%);

    div {
        width: 150px !important;
        height: 150px !important;
    }
}

@keyframes rotateLoader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}